# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env
backend/ .env
backend/ .env.example
*.env
!.env.example

# Node
node_modules/
dist/
.vite/

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
